.Side-bar
  .Side-bar__box
    .Side-bar__box__top-items
      .Side-bar__box__top-items__name 
        = current_user.name
      .Side-bar__box__top-items__icons
        = link_to edit_user_path(current_user) do
          = icon('far','edit', class: 'btn--edit')
          = icon('fab','facebook-square', class: 'btn--facebook')

  .Side-bar__group-list
    .Side-bar__group-list__box
      .Side-bar__group-list__box__name
        tech camp
      .Side-bar__group-list__box__message
        No message
    .Side-bar__group-list__box
      .Side-bar__group-list__box__name
        tech camp
      .Side-bar__group-list__box__message
        No message
    .Side-bar__group-list__box
      .Side-bar__group-list__box__name
        tech camp
      .Side-bar__group-list__box__message
        No message
    

